@use "../../../../variables.scss" as *;
@use "sass:math";

.toolbar-header {
  @include header();
}

@media only screen and (max-width: 400px) {
  ::ng-deep .dx-tab {
    min-width: 70px;
  }

  .toolbar-header {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .toolbar-header {
    font-size: 14px;
  }
}

// .dx-list-item {
//   border-top: none;
//   margin-top: 4px;
//   border-top: solid #cbc8c8;
//   height: 32px;
// }

::ng-deep .dx-dropdownbutton-popup-wrapper .dx-list-item{
  height: 30px;
}