@use "../../../../variables.scss" as *;

.login-form {
  ::ng-deep .form-text {
    color: var(--base-text-color-alpha);
  }
}

.reset-link {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  margin: 6px 0 50px 0;

  a {
    cursor: pointer;
  }
}


::ng-deep .dx-popup-title.dx-toolbar .dx-toolbar-before {
  // padding-inline-end: 12px;
  width: 100%;
}

.full-width-button {
  width: 100%;
}

.full-width-button dx-button {
  display: block;
  width: 100%;
}

